# Team
# @ryan-conway is the Team Lead and the others are team members
* @AVI5HEK @chornerman @doannimble @hoangnguyen92dn @kaungkhantsoe @luongvo @lydiasama @manh-t @minhnimble @ryan-conway @sleepylee @thiennguyen0196 @Tuubz @Wadeewee

# Engineering Leads
CODEOWNERS @nimblehq/engineering-leads
