# Team
# @ryan-conway is the Team Lead and the others are team members
* @AVI5HEK @chornerman @eeeeaa @hoangnguyen92dn @Johnsonmaung @kaungkhantsoe @luongvo @manh-t @minhnimble @RkNaing @ryan-conway @sleepylee @thawzintoe-ptut @toby-thanathip @win-than-htike

# Engineering Leads
CODEOWNERS @nimblehq/engineering-leads
