# Team
# @Tuubz is the Team Lead and the others are team members
* @AVI5HEK @chornerman @doannimble @hoangnguyen92dn @kaungkhantsoe @luongvo @lydiasama @manh-t @minhnimble @ryan-conway @sleepylee @Tuubz @Wadeewee

# Engineering Leads
CODEOWNERS @nimblehq/engineering-leads
