<?xml version="1.0"?><!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <!-- Annotations -->
        <module name="AnnotationUseStyle" />

        <!-- Block checks -->
        <module name="AvoidNestedBlocks" />
        <module name="EmptyBlock" />
        <module name="LeftCurly" />
        <module name="NeedBraces" />
        <module name="RightCurly" />

        <!-- Class design -->
        <!--<module name="FinalClass" />
        <module name="HideUtilityClassConstructor" />
        <module name="InterfaceIsType" />
        <module name="MutableException" /> -->

        <!-- Coding -->
        <module name="CovariantEquals" />
        <module name="DefaultComesLast" />
        <module name="EmptyStatement" />
        <module name="EqualsAvoidNull" />
        <module name="EqualsHashCode" />
        <module name="FallThrough" />
        <module name="IllegalInstantiation" />
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />
        <module name="StringLiteralEquality" />

        <!-- Imports -->
        <module name="IllegalImport" />
        <module name="RedundantImport" />
        <module name="UnusedImports" />

        <!-- Miscellaneous -->
        <module name="ArrayTypeStyle" />
        <module name="CommentsIndentation" />
        <module name="Indentation">
            <property name="basicOffset" value="4" />
            <property name="braceAdjustment" value="0" />

            <property name="caseIndent" value="4" />
            <property name="throwsIndent" value="8" />
            <property name="lineWrappingIndentation" value="4" />
        </module>

        <!-- Modifiers -->
        <module name="RedundantModifier" />

        <!-- Whitespace -->
        <module name="EmptyForInitializerPad" />
        <module name="GenericWhitespace" />
        <module name="MethodParamPad" />
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true" />
            <property name="allowMultipleEmptyLines" value="false" />
            <property name="allowMultipleEmptyLinesInsideClassMembers" value="false" />
        </module>
        <module name="NoLineWrap" />
        <module name="NoWhitespaceAfter" />
        <module name="NoWhitespaceBefore" />
        <module name="ParenPad" />
        <module name="SeparatorWrap">
            <property name="option" value="nl" />
            <property name="tokens" value="DOT" />
        </module>
        <module name="TypecastParenPad" />
        <module name="WhitespaceAfter" />
    </module>

    <module name="FileLength">
        <!-- This is just temporary, after refactoring the AnalyticsManager
        class we should reduce this back to max = 600 lines only -->
        <property name="max" value="900" />
    </module>

    <module name="FileTabCharacter" />
</module>
