name: Review pull request

on:
  pull_request:
    types: [ opened, edited, reopened, synchronize ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  review_pull_request:
    name: Review pull request
    runs-on: ubuntu-latest
    timeout-minutes: 30
    environment: template-compose
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches/modules-*
            ~/.gradle/caches/jars-*
            ~/.gradle/caches/build-cache-*
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # template-compose

      - name: Run Detekt on template-compose
        working-directory: ./template-compose
        run: ./gradlew detekt

      - name: Run Android Lint on template-compose
        working-directory: ./template-compose
        run: ./gradlew lint

      - name: Run unit tests with Kover on template-compose
        working-directory: ./template-compose
        run: ./gradlew koverXmlReportCustom

      - name: Set up Ruby
        uses: ./.github/actions/setup-ruby
        with:
          bundler-cache: 'true'

      - name: Run Danger
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bundle exec danger
